
/* Your CSS Code here. */
table, tr, td, th{
	border:1px solid black;
/* 	content:center; */
}

td{
	text-align:center;
}
#nTable{
	color:purple;
	text-decoration:underline;
}

#html{
	background:black;
	color:white;
}